ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    border-radius: 25px;
    white-space: nowrap;
    background-color: lightgray;
    
}
li {
    display: inline-block;
    margin-right: 10px;
}

li:last-child{
    margin-right: 0;
}

li a {
    display: block;
    padding: 10px 20px; 
    text-decoration: none;
    color: black;
    background-color: lightblue;
    border-radius: 25px;
}

li a:hover {
    color: white;
    background-color: black; 
}
